@model List<Titulacion.Models.Inscripcion>
@{
    ViewData["Title"] = "Ver Inscripciones";
    Layout = "~/Views/Shared/_LayaoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Folio</th>
            <th>Alumno</th>
            <th>Profesor</th>
            <th>Fecha de Inscripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inscripcion in Model)
        {
            <tr>
                <td>@inscripcion.Folio</td>
                <td>@($"{inscripcion.IdAlumnoNavigation.Nombre} {inscripcion.IdAlumnoNavigation.ApellidoPat}")</td>
                <td>@($"{inscripcion.IdProfesorNavigation.Nombre} {inscripcion.IdProfesorNavigation.ApellidoPat}")</td>
                <td>@inscripcion.Fecha.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>